.canvas {
  margin-bottom: var(--spacing-l);
  overflow: hidden;
}

.chips {
  margin-bottom: var(--spacing-m);
}

.example {
  padding: var(--spacing-l);
}

.actions {
  text-align: right;
  padding: var(--spacing-s) var(--spacing-l);
  background-color: var(--palette-graphite-5);
}

.codeBlock {
  overflow-x: auto;
  margin: 0;
  padding: var(--spacing-m);
  box-sizing: border-box;
  background-color: var(--palette-graphite-70);
  font-size: var(--font-size-s);
  line-height: 1.5;
}
