.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-m);
}

.tile {
  border: 1px solid var(--palette-graphite-70);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.tileTitle {
  hyphens: manual;
  overflow-wrap: normal;
  word-break: normal;
}

.tileDescription {
  padding: 0;
}

.tileIcon {
  display: block;
  width: 100%;
  max-width: 5rem;
}
