@import '@skatteetaten/ds-core-designtokens/designtokens/breakpoints';

.wrapper {
  max-width: var(--container-s);
}

.card {
  margin-bottom: var(--spacing-m);
}

.cardContent {
  flex: 1;
}

.descriptionList dd {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacing-s);

  @media (min-width: $breakpoint-s) {
    justify-content: flex-end;
  }
}

.tokenGroupLabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--spacing-m);
}

.icon {
  display: block;
  width: 4.5rem;
}
