.navContainer {
  max-width: var(--container-m);
  padding: var(--spacing-xs);
  border: 1px solid var(--palette-denim-70);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--palette-denim-5);
}
