# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
.nyc_output
/connect.lock
/coverage
apps/ds-playground/coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.scannerwork/
.jest-image-snapshot-touched-files
**/*stats.html
*.dump
.nx
.chromatic

# System Files
.DS_Store
Thumbs.db


vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# image snapshots
**/__vis__/**/__diffs__
**/__vis__/**/__results__
**/__vis__/local
