# Add files here to ignore them from prettier formatting

/dist
/coverage
apps/ds-playground/coverage/

/.idea
/.scannerwork
/.nyc_output
/.vscode
apps/ds-playground/.nyc_output

**/*stats.html

/.nx/cache
/.nx/workspace-data