.designtokenName {
  font-weight: var(--font-weight-bold);
}

.fontTokenExample {
  width: 100%;
}

.fontTokenExample_grid {
  display: grid;
  gap: var(--semantic-spacing-default);
  grid-template-columns: 1fr 1fr;
}

.fontTokenExample_lineheight {
  box-sizing: border-box;
  padding: var(--semantic-spacing-default);
  background: var(--palette-graphite-10);
  font-size: var(--font-size-xxl);
  vertical-align: top;
}

.tokenValue {
  margin: var(--spacing-xl) 0 var(--spacing-xs);
}

.sizeTokenExample {
  display: inline-block;
  background: var(--palette-ochre-30);
}

.spacingTokenExample {
  display: block;
  background: var(--palette-ochre-30);
}

.paletteTable {
  border-collapse: collapse;
}

.paletteTableHeader {
  padding-bottom: var(--spacing-s);
  text-align: start;
}

.paletteTableRow > td {
  padding: var(--spacing-xs) 0;
  border-top: 2px solid var(--semantic-divider-100);
}

.fontSectionHeader {
  margin-top: var(--spacing-xxl);
  font-size: var(--font-size-xxl);
  font-weight: bold;
}

.fontSectionHeader:first-of-type {
  margin-top: 0;
}

.layoutContainer {
  background-color: var(--palette-burgundy-10);
}
