:root,
:host {
  font-family: 'HelveticaLocalWebFont';
}

@font-face {
  font-family: 'HelveticaLocalWebFont';
  src: url('HelveticaLocalWebFont.woff2') format('woff2');
}

/* Dette er i titlene i Docs fanen */
h1.sbdocs-h1,
h2.sbdocs-h2,
h3.sbdocs-h3 {
  color: var(--semantic-page-foreground);
}
h1.sbdocs-title,
h2.sbdocs-title,
h3.sbdocs-title {
  color: var(--semantic-page-foreground);
}
/* Dette er i sub-titlene i Docs Palette fanen */
div.css-bp0xxt,
div.css-1rr4qq7,
div.css-1cic1f4,
div.css-1nkxwxu,
div.css-1xrb7qh {
  color: var(--semantic-page-foreground);
}
/* Dette er i sub-titlene i Docs Icon Galery fanen */
div.css-87agpt {
  color: var(--semantic-page-foreground);
}
div.css-15erloe {
  background: var(--semantic-page-background);
}
/* Dette er bakgrunnen og preview området i Docs fanen */
div.css-zgt7u1,
div.css-tmvzag {
  background: var(--semantic-page-background);
}
@media (prefers-color-scheme: dark) {
  div.docs-story.css-kdwx3d {
    background: var(--semantic-page-background);
  }
}
/* Dette er Table header i Docs fanen */
.css-tm6i3o.css-tm6i3o .docblock-argstable-head th {
  color: var(--semantic-page-foreground);
}
