@import 'inter.css';

:root,
:host {
  font-family: 'Inter';
}

@font-face {
  font-family: 'CourierLocalWebFont';
  src: url('CourierStd.woff2') format('woff2');
}

code {
  font-family: 'CourierLocalWebFont';
}

.height100vh {
  height: 100vh;
}

.scrollToTopMainPusher {
  height: 200vh;
  padding-top: 100vh;
  color: var(--palette-denim-5);
}
.width100 {
  width: 100%;
}

.scrollToTopContainer:focus {
  background: var(--semantic-interactive-main);
}

.exampleSpacing {
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.marginRightM {
  margin-right: var(--spacing-m);
}

.flex {
  display: flex;
}

.block {
  display: block;
}
.centerMargin {
  margin-left: auto;
  margin-right: auto;
}

.introImageContainer {
  margin-bottom: var(--spacing-xl) !important;
  background-color: var(--palette-denim-10);
}

.topSpacingXL {
  margin-top: var(--spacing-xl);
}

.topSpacingS {
  margin-top: var(--spacing-s);
}
.bottomSpacingS {
  margin-bottom: var(--spacing-s) !important;
}

.bottomSpacingXL {
  margin-bottom: var(--spacing-xl);
}

.bottomSpacingL {
  margin-bottom: var(--spacing-l);
}

.bottomSpacingXS {
  margin-bottom: var(--spacing-xs);
}

.errorMessageContainer {
  border: 2px solid var(--palette-forest-50);
  width: 250px;
}

.emptyExpandedTableRow {
  height: 200px;
  width: 100%;
}

.rowSpanLeft {
  border-left: solid 1px var(--semantic-divider-30);
}

.rowSpanRight {
  border-right: solid 1px var(--semantic-divider-30);
}

.scrollTableWrapper {
  width: 320px;
  display: inline-block;
  margin-right: 20px;
}

.scrollTableWrapperSuccess {
  width: 320px;
  background: var(--semantic-success-background);
  display: inline-block;
  margin-right: 20px;
}
.scrollTableWrapperWarning {
  width: 320px;
  background: var(--semantic-warning-background);
  display: inline-block;
  margin-right: 20px;
}

.srOnly {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.textField150 {
  padding-bottom: 20px;
  max-width: 150px;
  width: 100%;
}

.textField300 {
  padding-bottom: 20px;
  max-width: 300px;
  width: 100%;
}

.inlineBlock {
  display: inline-block;
}

.logoHeight {
  height: 4rem;
}

.modalLink {
  display: flex;
  justify-content: flex-end;
}

.topbannerButtonContainer {
  display: flex;
  gap: var(--spacing-s);
}

.gapS {
  gap: var(--spacing-s);
}
.gapXs {
  gap: var(--spacing-xs);
}

.gapXl {
  gap: var(--spacing-xl);
}

.flexColumn {
  flex-direction: column;
}

.dummySpacingLeft {
  margin-left: var(--spacing-s);
}

.marginL {
  margin-left: var(--spacing-l);
  margin-right: var(--spacing-l);
}

.centerContent {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.docs {
  color: var(--semantic-interactive-main);
  text-decoration-color: var(--semantic-interactive-main);
  padding: var(--spacing-xs) 0;
  font-weight: var(--font-weight-medium);
  text-decoration-line: underline;
}

.semantic-article {
  max-width: var(--semantic-responsive-article);
  margin: auto;
}

.containerS {
  max-width: var(--container-s);
  margin: auto;
}

.semantic-article.bottom-spacing {
  margin-bottom: var(--spacing-l);
}

.container-aside {
  width: var(--container-aside);
}

.marginRightS {
  margin-right: var(--spacing-s);
}

.marginLeftL {
  margin-left: var(--spacing-l);
}

.marginLeftAccordionItem {
  margin-left: calc(var(--size-medium) + var(--spacing-s));
}

.accordionWorkTaskExample {
  max-width: var(--semantic-responsive-wide-content);
  padding: var(--spacing-xl);
  background-color: var(--palette-graphite-5);
}

dl.gridEqualColumns {
  grid-template-columns: 1fr 1fr;
}

p.bold {
  font-weight: var(--font-weight-bold);
}

.borderLeftBlack {
  border-left: 4px solid var(--palette-graphite-100);
}

.logo {
  width: 3rem;
  height: 3rem;
}

.width400 {
  max-width: 400px;
}

svg.dangerIcon {
  fill: var(--semantic-danger-foreground);
}

svg.blueIcon {
  fill: var(--semantic-interactive-main);
}

.paddingXS {
  padding: var(--spacing-xs);
}

.cardWidth {
  width: 254px;
  min-width: 254px;
}

.marginLeftS {
  margin-left: var(--spacing-s);
}

a.resetLinkStyling {
  padding: 0;
  line-height: var(--semantic-line-height-default);
}

.flexWrap {
  flex-wrap: wrap;
}

.blueBackground {
  --theme-primary: var(--palette-denim-100);
}

.demoLogo {
  width: auto !important;
  padding-right: var(--spacing-xs);
  border-right: 1px solid var(--palette-graphite-0);
}
