@import 'inter.css';

:root,
:host {
  font-family: 'Inter';
}

@font-face {
  font-family: 'CourierLocalWebFont';
  src: url('CourierStd.woff2') format('woff2');
}

code {
  font-family: 'CourierLocalWebFont';
}

.height100vh {
  height: 100vh;
}

.scrollToTopContainer:focus {
  background: var(--semantic-interactive-main);
}

.exampleSpacing {
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.flex {
  display: flex;
}

.introImageContainer {
  background-color: var(--palette-denim-10);
}
