.buttonModalActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-m);
  flex-wrap: wrap;
  margin-top: var(--spacing-m);
}

.buttonModalActionsGroup {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
}
