.myIconClassname {
  fill: var(--palette-denim-100);
}

.buttonClassnameDark {
  background-color: black;
}

.buttonClassnameDark:disabled {
  background-color: black;
}

.buttonClassnameLight {
  background-color: white;
  color: brown;
}

.buttonClassnameLight:disabled {
  background-color: white;
  color: brown;
}

.dummyClassName {
  background-color: indianred;
  color: black;
  fill: indianred;
}

.dummyClassName:disabled,
.dummyClassName:hover,
.dummyClassName:focus {
  background-color: darksalmon;
  color: white;
}
