.myIconClassname {
  fill: var(--palette-denim-100);
}

.dummyClassname {
  color: black;
  fill: lightgoldenrodyellow;
}

.dummyClassname:not(svg) {
  background-color: lightgoldenrodyellow;
}

.dummyClassname:disabled,
.dummyClassname:hover,
.dummyClassname:focus {
  background-color: darksalmon;
  color: white;
}

.scrollToTopContainer:focus {
  background: var(--semantic-interactive-main);
}

.exampleSpacing {
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.flex {
  display: flex;
}
