@use 'libs/ds-core-designtokens/lib/designtokens/breakpoints';

.mainContentWrapper {
  display: flex;
  gap: var(--semantic-responsive-internal-container-spacing);
  align-items: flex-start;
}

.mainContent {
  flex: 1;
}

.asideContent {
  display: none;

  @media (min-width: breakpoints.$breakpoint-m) {
    display: block;
    position: sticky;
    top: var(--spacing-l);
  }
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mdxIcon {
  width: 6rem;
}
