@use 'libs/ds-core-designtokens/lib/designtokens/breakpoints';
@use 'libs/ds-core-utils/src/mixins/styles' as styles;

.contentWrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--semantic-responsive-internal-container-spacing);

  @media (min-width: breakpoints.$breakpoint-m) {
    grid-template-columns: minmax(0, 1fr) max-content;
    grid-template-areas:
      'heading nav'
      'mdx nav';
  }
}

.headingContent {
  min-width: 0;

  @media (min-width: breakpoints.$breakpoint-m) {
    grid-area: heading;
  }
}

.navContent {
  @include styles.sr-only;

  @media (min-width: breakpoints.$breakpoint-m) {
    display: block;
    overflow: visible;
    height: auto;
    margin: 0;
    clip: auto;
    white-space: normal;
    grid-area: nav;
    align-self: start;
    justify-self: start;
    width: max-content;
    position: sticky;
    top: var(--spacing-l);
  }
}

.mdxContent {
  min-width: 0;

  @media (min-width: breakpoints.$breakpoint-m) {
    grid-area: mdx;
  }
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parentTitle {
  display: block;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--semantic-line-height-article);
  margin-bottom: var(--spacing-m);
}

.mdxIcon {
  width: 6rem;
}
