@use '@skatteetaten/ds-core-designtokens/designtokens/breakpoints' as *;

.linkWrapper {
  padding: 0 var(--spacing-s-plus);
  list-style-type: none;
}

.marginBottomXL {
  margin-bottom: var(--spacing-xl);
}

.marginBottomS {
  margin-bottom: var(--spacing-s);
}

.marginRightS {
  margin-right: var(--spacing-s);
}

.flex {
  display: flex;
}

@media (min-width: $breakpoint-m) {
  .columns.columns {
    grid-template-columns: 1fr 2fr;
  }

  .secondColumn {
    display: flex;
    gap: var(--spacing-xxl);
  }
}
