@use '@skatteetaten/ds-core-designtokens/designtokens/breakpoints' as *;

@media (min-width: $breakpoint-m) {
  .columnWrapper {
    margin-top: 58px; // for at den skal havne på linje med meny i andre kolonne
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.columnOneLinkPadding {
  padding: 0 var(--spacing-s) 0 var(--spacing-s);
}

.columnThreeLinkPadding {
  padding: 0;
}

.menuSpacingLarge {
  margin-bottom: var(--spacing-l);
}

.menuSpacingSmall {
  margin-bottom: var(--spacing-s);
}

.menuSpacingMedium {
  margin-bottom: var(--spacing-m);
}

.flex {
  display: flex;
}
