{
  "extends": "../../libs/designsystem-core/config/designsystem-babelrc.json",
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": []
}
