:root {
  --th657r0: Helvetica, arial, sans-serif;
  --th657r1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --th657r2: normal 10px Helvetica, arial, sans-serif;
  --th657r3: normal 12px Helvetica, arial, sans-serif;
  --th657r4: normal 14px Helvetica, arial, sans-serif;
  --th657r5: normal 16px/20px Helvetica, arial, sans-serif;
  --th657r6: 100;
  --th657r7: 700;
  --th657r8: 4px;
  --th657r9: 2px;
  --th657ra: 4px;
  --th657rb: 6px;
  --th657rc: 100%;
  --th657rd: 70px;
  --th657re: 44px;
  --th657rf: opacity 300ms ease, transform 300ms ease;
  --th657rg: opacity 200ms ease, transform 200ms ease;
  --th657rh: opacity 100ms ease, transform 100ms ease;
  --th657ri: 0;
  --th657rj: 2px;
  --th657rk: 4px;
  --th657rl: 6px;
  --th657rm: 8px;
  --th657rn: 12px;
  --th657ro: 16px;
  --th657rp: 20px;
  --th657rq: 28px;
  --th657rr: 40px;
}
:root {
  --_836qc20: #000;
  --_836qc21: #040080;
  --_836qc22: #005ad2;
  --_836qc23: #00439c;
  --_836qc24: #00439c;
  --_836qc25: #0088ff;
  --_836qc26: #75438a;
  --_836qc27: #a7a7a7;
  --_836qc28: #515151;
  --_836qc29: #fff;
  --_836qc2a: #a7a7a7;
  --_836qc2b: #cd193d;
  --_836qc2c: #005ad2;
  --_836qc2d: #1da584;
  --_836qc2e: rgb(0, 0, 0, .05);
  --_836qc2f: #005ad2;
  --_836qc2g: #c5f5e9;
  --_836qc2h: #fee1e9;
  --_836qc2i: #eeeeee;
  --_836qc2j: #fff;
  --_836qc2k: #f4f4f4;
  --_836qc2l: rgb(from #0088ff r g b / calc(alpha - 0.85));
  --_836qc2m: hsl(from #e5f3ff h s calc(l - 15));
  --_836qc2n: #eeeeee;
  --_836qc2o: 0 2px 8px rgb(18, 21, 26, 0.3);
  --_836qc2p: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_836qc20: #f6f8fa;
  --_836qc21: #c8e1f7;
  --_836qc22: #68aeea;
  --_836qc23: #97c8f1;
  --_836qc24: #97c8f1;
  --_836qc25: #3e8fe0;
  --_836qc26: #aa83f2;
  --_836qc27: #3d4b63;
  --_836qc28: #f6f8fa;
  --_836qc29: #000;
  --_836qc2a: #828ea4;
  --_836qc2b: #fa6b6c;
  --_836qc2c: #3e8fe0;
  --_836qc2d: #28b888;
  --_836qc2e: rgb(255, 255, 255, .07);
  --_836qc2f: #3e8fe0;
  --_836qc2g: color-mix(in srgb, #0f131b 60%, #28b888);
  --_836qc2h: color-mix(in srgb, #0f131b 70%, #db2d2d);
  --_836qc2i: #1c2230;
  --_836qc2j: #0f131b;
  --_836qc2k: hsl(from #0f131b h s calc(l - 3));
  --_836qc2l: rgb(from #296fc0 r g b / calc(alpha - 0.75));
  --_836qc2m: rgb(from #296fc0 r g b / calc(alpha - 0.25));
  --_836qc2n: #1c2230;
  --_836qc2o: 0 0 10px -2px #2d3648;
  --_836qc2p: 0 0 0 5px rgb(from #68aeea r g b / calc(alpha - 0.6));
}
._836qc2q {
  position: absolute;
}
._836qc2r {
  position: relative;
}
._836qc2s {
  position: fixed;
}
._836qc2t {
  top: 0;
}
._836qc2u {
  bottom: 0;
}
._836qc2v {
  left: 0;
}
._836qc2w {
  right: 0;
}
._836qc2x {
  display: none;
}
._836qc2y {
  display: flex;
}
._836qc2z {
  display: block;
}
._836qc210 {
  display: inline;
}
._836qc211 {
  flex-direction: row;
}
._836qc212 {
  flex-direction: column;
}
._836qc213 {
  flex-direction: row-reverse;
}
._836qc214 {
  flex-wrap: wrap;
}
._836qc215 {
  flex-grow: 0;
}
._836qc216 {
  flex-grow: 1;
}
._836qc217 {
  justify-content: stretch;
}
._836qc218 {
  justify-content: flex-start;
}
._836qc219 {
  justify-content: center;
}
._836qc21a {
  justify-content: flex-end;
}
._836qc21b {
  justify-content: space-around;
}
._836qc21c {
  justify-content: space-between;
}
._836qc21d {
  align-items: stretch;
}
._836qc21e {
  align-items: flex-start;
}
._836qc21f {
  align-items: center;
}
._836qc21g {
  align-items: flex-end;
}
._836qc21h {
  gap: var(--th657ri);
}
._836qc21i {
  gap: var(--th657rj);
}
._836qc21j {
  gap: var(--th657rk);
}
._836qc21k {
  gap: var(--th657rl);
}
._836qc21l {
  gap: var(--th657rm);
}
._836qc21m {
  gap: var(--th657rn);
}
._836qc21n {
  gap: var(--th657ro);
}
._836qc21o {
  gap: var(--th657rp);
}
._836qc21p {
  gap: var(--th657rq);
}
._836qc21q {
  gap: var(--th657rr);
}
._836qc21r {
  padding-top: var(--th657ri);
}
._836qc21s {
  padding-top: var(--th657rj);
}
._836qc21t {
  padding-top: var(--th657rk);
}
._836qc21u {
  padding-top: var(--th657rl);
}
._836qc21v {
  padding-top: var(--th657rm);
}
._836qc21w {
  padding-top: var(--th657rn);
}
._836qc21x {
  padding-top: var(--th657ro);
}
._836qc21y {
  padding-top: var(--th657rp);
}
._836qc21z {
  padding-top: var(--th657rq);
}
._836qc220 {
  padding-top: var(--th657rr);
}
._836qc221 {
  padding-bottom: var(--th657ri);
}
._836qc222 {
  padding-bottom: var(--th657rj);
}
._836qc223 {
  padding-bottom: var(--th657rk);
}
._836qc224 {
  padding-bottom: var(--th657rl);
}
._836qc225 {
  padding-bottom: var(--th657rm);
}
._836qc226 {
  padding-bottom: var(--th657rn);
}
._836qc227 {
  padding-bottom: var(--th657ro);
}
._836qc228 {
  padding-bottom: var(--th657rp);
}
._836qc229 {
  padding-bottom: var(--th657rq);
}
._836qc22a {
  padding-bottom: var(--th657rr);
}
._836qc22b {
  padding-left: var(--th657ri);
}
._836qc22c {
  padding-left: var(--th657rj);
}
._836qc22d {
  padding-left: var(--th657rk);
}
._836qc22e {
  padding-left: var(--th657rl);
}
._836qc22f {
  padding-left: var(--th657rm);
}
._836qc22g {
  padding-left: var(--th657rn);
}
._836qc22h {
  padding-left: var(--th657ro);
}
._836qc22i {
  padding-left: var(--th657rp);
}
._836qc22j {
  padding-left: var(--th657rq);
}
._836qc22k {
  padding-left: var(--th657rr);
}
._836qc22l {
  padding-right: var(--th657ri);
}
._836qc22m {
  padding-right: var(--th657rj);
}
._836qc22n {
  padding-right: var(--th657rk);
}
._836qc22o {
  padding-right: var(--th657rl);
}
._836qc22p {
  padding-right: var(--th657rm);
}
._836qc22q {
  padding-right: var(--th657rn);
}
._836qc22r {
  padding-right: var(--th657ro);
}
._836qc22s {
  padding-right: var(--th657rp);
}
._836qc22t {
  padding-right: var(--th657rq);
}
._836qc22u {
  padding-right: var(--th657rr);
}
._836qc22v {
  margin-top: var(--th657ri);
}
._836qc22w {
  margin-top: var(--th657rj);
}
._836qc22x {
  margin-top: var(--th657rk);
}
._836qc22y {
  margin-top: var(--th657rl);
}
._836qc22z {
  margin-top: var(--th657rm);
}
._836qc230 {
  margin-top: var(--th657rn);
}
._836qc231 {
  margin-top: var(--th657ro);
}
._836qc232 {
  margin-top: var(--th657rp);
}
._836qc233 {
  margin-top: var(--th657rq);
}
._836qc234 {
  margin-top: var(--th657rr);
}
._836qc235 {
  margin-top: auto;
}
._836qc236 {
  margin-bottom: var(--th657ri);
}
._836qc237 {
  margin-bottom: var(--th657rj);
}
._836qc238 {
  margin-bottom: var(--th657rk);
}
._836qc239 {
  margin-bottom: var(--th657rl);
}
._836qc23a {
  margin-bottom: var(--th657rm);
}
._836qc23b {
  margin-bottom: var(--th657rn);
}
._836qc23c {
  margin-bottom: var(--th657ro);
}
._836qc23d {
  margin-bottom: var(--th657rp);
}
._836qc23e {
  margin-bottom: var(--th657rq);
}
._836qc23f {
  margin-bottom: var(--th657rr);
}
._836qc23g {
  margin-bottom: auto;
}
._836qc23h {
  margin-left: var(--th657ri);
}
._836qc23i {
  margin-left: var(--th657rj);
}
._836qc23j {
  margin-left: var(--th657rk);
}
._836qc23k {
  margin-left: var(--th657rl);
}
._836qc23l {
  margin-left: var(--th657rm);
}
._836qc23m {
  margin-left: var(--th657rn);
}
._836qc23n {
  margin-left: var(--th657ro);
}
._836qc23o {
  margin-left: var(--th657rp);
}
._836qc23p {
  margin-left: var(--th657rq);
}
._836qc23q {
  margin-left: var(--th657rr);
}
._836qc23r {
  margin-left: auto;
}
._836qc23s {
  margin-right: var(--th657ri);
}
._836qc23t {
  margin-right: var(--th657rj);
}
._836qc23u {
  margin-right: var(--th657rk);
}
._836qc23v {
  margin-right: var(--th657rl);
}
._836qc23w {
  margin-right: var(--th657rm);
}
._836qc23x {
  margin-right: var(--th657rn);
}
._836qc23y {
  margin-right: var(--th657ro);
}
._836qc23z {
  margin-right: var(--th657rp);
}
._836qc240 {
  margin-right: var(--th657rq);
}
._836qc241 {
  margin-right: var(--th657rr);
}
._836qc242 {
  margin-right: auto;
}
._836qc243 {
  overflow: hidden;
}
._836qc244 {
  overflow: auto;
}
._836qc245 {
  box-shadow: var(--_836qc2o);
}
._836qc246 {
  box-shadow: var(--_836qc2p);
}
._836qc247 {
  border-radius: var(--th657r9);
}
._836qc248 {
  border-radius: var(--th657ra);
}
._836qc249 {
  border-radius: var(--th657rb);
}
._836qc24a {
  border-radius: var(--th657rc);
}
._836qc24b {
  transition: var(--th657rf);
}
._836qc24c {
  transition: var(--th657rg);
}
._836qc24d {
  transition: var(--th657rh);
}
._836qc24e {
  cursor: pointer;
}
._836qc24f {
  pointer-events: none;
}
._836qc24g {
  pointer-events: auto;
}
._836qc24h {
  user-select: none;
}
._836qc24i {
  appearance: none;
}
._836qc24j {
  opacity: 0;
}
._836qc24k {
  z-index: 0;
}
._836qc24l {
  z-index: 1;
}
._836qc24m {
  font: var(--th657r2);
}
._836qc24n {
  font: var(--th657r3);
}
._836qc24o {
  font: var(--th657r4);
}
._836qc24p {
  font: var(--th657r5);
}
._836qc24q {
  font-weight: var(--th657r6);
}
._836qc24r {
  font-weight: var(--th657r7);
}
._836qc24s {
  width: 100%;
}
._836qc24t {
  width: 100vw;
}
._836qc24u {
  height: 100%;
}
._836qc24v {
  height: 100vh;
}
._836qc24w {
  white-space: nowrap;
}
._836qc24x {
  box-sizing: border-box;
}
._836qc24y {
  text-align: center;
}
._836qc24z {
  text-align: left;
}
._836qc250 {
  text-align: right;
}
._836qc251 {
  border: 0;
}
._1rza5jf1 {
  color: var(--_836qc28);
}
._1rza5jf2 {
  color: var(--_836qc2b);
}
._1rza5jf3 {
  color: var(--_836qc2a);
}
._1rza5jfa {
  text-overflow: ellipsis;
}
